spring:
  application:
    name: learn-springboot-graphql

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: kjjung
    password: kjjung
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: true

  graphql:
    graphiql:
      enabled: true
    path: /graphql
    schema:
      printer:
        enabled: true
